{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Last_name</th>
        <th scope="col">First_name</th>
        <th scope="col">SSN</th>
        <th scope="col">Test1</th>
        <th scope="col">Test2</th>
        <th scope="col">Test3</th>
        <th scope="col">Test4</th>
        <th scope="col">Final</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
    {% for grades1 in grades %}
    <tr>
        <td><a href="view/{{grades1.id}}">{{ grades1.Last_name }}</a></td>
        <td>{{ grades1.First_name }}</td>
        <td>{{ grades1.SSN }}</td>
        <td>{{ grades1.Test1 }}</td>
        <td>{{ grades1.Test2 }}</td>
        <td>{{ grades1.Test3 }}</td>
        <td>{{ grades1.Test4 }}</td>
        <td>{{ grades1.Final }}</td>
        <td>{{ grades1.Grade }}</td>
    </tr>
    {% endfor %}
     </tbody>
</table>
{% endblock %}